body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0;
}

header a {
    margin-left: 20px;
    text-decoration: none;
    color: #1a0dab;
    font-size: 18px;
}

main {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-bottom: 40px;
    width: 272px;
    height: auto;
}

.search-bar {
    padding: 15px;
    width: 400px;
    border-radius: 30px;
    border: 1px solid #dcdcdc;
    font-size: 18px;
    transition: all 0.3s ease;
}

.search-bar:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-button, .advanced-button {
    display: block;
    margin: 30px auto;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s ease;
}

.search-button {
    background-color: #f8f9fa;
}

.search-button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.advanced-button {
    background-color: #1a73e8;
    color: white;
}

.advanced-button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-field {
    display: block;
    margin: 15px auto;
    padding: 15px;
    width: 400px;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    font-size: 18px;
    transition: all 0.3s ease;
}

.search-field:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-top: 30px;
    text-align: left;
    font-size: 18px;
}
